.tab-item {
  list-style-type: none;
}

.tab-button {
  background: none;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  margin: 12px;
}

.active-thumbnail {
  border-bottom: 3px solid #fec653;
  padding-bottom: 5px;
  color: #fec653;
}
